/* VERSION 32 - HEADER */    
@keyframes header_float{
    0%{transform: translateY(0px);}
    50%{transform: translateY(-10px);}
    100%{transform: translateY(0px);}
}    
    
.header_mk{
  display:flex;
  align-items:center;
  justify-content:center;
  width: 40%;
  height: 106vh;
  max-height: 800px;
  margin: 0 auto;
  top: 30px;
  position: relative;
  transform-origin: center;
  -webkit-animation: header_float 3s ease-in-out infinite;
  -moz-animation: header_float 3s ease-in-out infinite;
  animation: header_float 3s ease-in-out infinite;
}

.header_mk a{
  display:flex;
  align-items:center;
  justify-content:center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  transform: translateY(0px); 
  position: relative;
  z-index: 2;
}

.header_mk a span.header_m,
.header_mk a span.header_k {
  transition: all 0.5s ease-in-out;
  transform: translateY(0px);
}
   
@keyframes header_text_gradient {
    0%{color: #bfcea5;}
    50%{color: #eab4a7;}
    100%{color: #bfcea5;}
}

.header_mk a >span {
  color: white;
  font-family: var(--special-font);
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 300;
  font-size: 9rem;
  text-align: center;
  height: fit-content;
  position: relative;
}

.header_mk a >span:nth-of-type(1) {
  margin-bottom: 30px;
  text-shadow: 0px 0px 50px #f0f0f0;
  color: white;
}
.header_mk a >span:nth-of-type(2) {
  margin-top: 75px;
  color: var(--co2);
  transition: all 0.2s;
  margin-right: 30px;
   -webkit-animation: header_text_gradient 3s ease infinite;
  -moz-animation: header_text_gradient 3s ease infinite;
  animation: header_text_gradient 3s ease infinite; 
}
body.light .header_mk a >span:nth-of-type(2){
  text-shadow: 1px 1px 0px var(--clair);
}
body.dark .header_mk a >span:nth-of-type(2){
  text-shadow: 1px 1px 0px var(--co_rgb2);
}

.header_mk a:hover >span:nth-of-type(2) {
  color:var(--co1);
}

.header_mk a span span {
  font-size: 0.9rem;
  position: absolute;
  letter-spacing: 3px;
  font-weight: 400;
  writing-mode: vertical-rl;
  text-orientation: upright;  
    /* font-family: 'work sans', inter; */
  font-family: 'Kiwi Maru', serif;
}

.header_mk a span:nth-of-type(1) span{
  right: 10px;
  bottom: -125px;
  text-shadow: 1px 0 0 var(--co2);
  transition: all 0.2s;
}
    
.header_mk:hover a span:nth-of-type(1) span{
  text-shadow: 1px 0 0 var(--co1);
}
    	
.header_mk a span:nth-of-type(2) span{
  top: -130px;
  left: 10px;
  color: white;
  text-shadow: 1px 0 0 var(--co2);
}

.header_mk-circle {
  height: 600px;
  border: 130px solid var(--circle);
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -3;
  content: '';
  border-radius: 100%;
  opacity: 0.5;
}

.header_mk-circle-3 {
  height: 900px;
  border: 1px solid var(--co2);
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -2;
  content: '';
  border-radius: 100%;
}
    
@keyframes header_rotate{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}
@keyframes header_rotate_2{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(-180deg);}
    100%{transform: rotate(-360deg);}
}

.header_mk .header_mk-circle-2 {
/*   background-color: #0a0a0ac4; */
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  content: '';
  height: 490px;
  margin-right: 490px;
  border-radius: 50% 0 0 50%;
  transition: all 0.2s;
  transform-origin: 245px 245px;
   -webkit-animation: header_rotate 60s linear infinite;
  -moz-animation: header_rotate 60s linear infinite;
  animation: header_rotate 60s linear infinite; 
}
.header_mk:hover .header_mk-circle-2, .header_mk:hover .header_mk-circle-4{
  animation-play-state: paused;
}
    
.header_mk .header_mk-circle-2 a {
  /*  background-color: var(--clair); */
  background-color: white;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 30px;
  position: absolute;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 0.8rem;
  box-shadow: var(--rgb) 0px 0px 4px;
}
.header_mk .header_mk-circle-2 a:nth-of-type(even) ion-icon{
  transition: all 0.2s;
  color: #bfcea5;
}
.header_mk .header_mk-circle-2 a:nth-of-type(odd) ion-icon {
  transition: all 0.2s;
  color: #eab4a7;
}

.header_mk .header_mk-circle-2 a:hover ion-icon {
  color: var(--tx);
}

.header_mk .header_mk-circle-2 a:nth-of-type(4) {
  /* bottom: 33.33%;
  left: -24px; */
  bottom: 40%;
  left: -16px;
}

.header_mk .header_mk-circle-2 a:nth-of-type(3) {
  /* top: 33.33%;
  left: -24px; */
  top: 33.33%;
  left: -8px;
}

.header_mk .header_mk-circle-2 a:nth-of-type(5) {
  /* bottom: 16.66%;
  left: 20px; */ 
  bottom: 21%;
  left: 16px;
}

.header_mk .header_mk-circle-2 a:nth-of-type(2) {
  /* top: 16.66%;
  left: 20px; */
  top: 15.66%;
  left: 33px;
}

.header_mk .header_mk-circle-2 a:nth-of-type(6) {
  bottom: 7%;
    left: 78px;
}

.header_mk .header_mk-circle-2 a:nth-of-type(1) {
  /* top: 0%;
  left: 90px; */
  top: 3%;
  left: 108px;
}

.header_mk .header_mk-circle-2:nth-child(2) {
  border:none;
}
    
.header_mk .header_mk-circle-4 {
  position: absolute;
  z-index: 0;
  content: '';
  height: 490px;
  width: 490px;
  border: 0px solid;
  border-top: 1px solid var(--co1);
  border-radius: 50%;
  transition: all 0.2s;
  transform-origin: 245px 245px;
   -webkit-animation: header_rotate_2 15s linear infinite;
  -moz-animation: header_rotate_2 15s linear infinite;
  animation: header_rotate_2 15s linear infinite; 
}

@keyframes header_pulse{
    0%{transform: scale(100%);}
    50%{transform: scale(110%);}
    100%{transform: scale(100%);}
}
.header_mk .header_mk-circle-5 {
  position: absolute;
  z-index: 0;
  content: '';
  height: 150px;
  width: 150px;
  background-color: var(--blanc);
  border-radius: 50%;
  transition: all 0.2s;
  transform-origin: 75px 75px;
  transform: scale(100%);
   -webkit-animation: header_pulse 5s linear infinite;
  -moz-animation: header_pulse 5s linear infinite;
  animation: header_pulse 5s linear infinite; 
}
body.dark .header_mk .header_mk-circle-5{
  opacity: 0.2;
}
body.light .header_mk .header_mk-circle-5{
  opacity: 0.1;
}

.header_mk-perso{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  z-index: 0;
  left: 100px;
  bottom: 7%;  
  transition: all 0.5s ease-in-out;
}
.header_mk:hover a span.header_m{
  transform: translateY(-10px);
}
.header_mk:hover a span.header_k{
  transform: translateY(10px);
}
.header_mk:hover .header_mk-perso{
  bottom: 8%;
}

@keyframes header_gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
    
.header_mk-perso img{
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 180px;
  background: linear-gradient(270deg, #bfcea5, #eab4a7);
  background-size: 400% 400%;
   -webkit-animation: header_gradient 3s ease infinite;
  -moz-animation: header_gradient 3s ease infinite;
  animation: header_gradient 3s ease infinite; 
}
    

.header_mk-perso:before{
  content:'';
  width: 180px;
  height: 180px;
  border-radius: 180px;
  background-color: var(--co1);
  position: absolute;
  z-index: 2;
  margin-bottom: -6px;
  opacity: 0.4;
  filter: grayscale(0.5);
  display: none;
}


.header_mk-perso span{
  color: white;
  font-family: 'work sans', inter;
  font-size: 0.6rem;
  font-weight: 400;
  margin-left: 100px;
  margin-top: -30px;
  text-transform: uppercase;
  padding: 2px 5px;
  z-index: 4;  
  letter-spacing: 1px;
}

.header_mk ba2 {
  transition: all 0.2s;
  color: #eab4a7;
}

.header_mk:hover ba2{
  color:var(--co1);
}
