/* REPERTOIRE 2.0 - MELODY & MK */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

:root{
	font-size: 100%;
    -webkit-text-size-adjust: none;
    --gris_rgb: rgba(95,95,95,0.5);
	--hima: goldenrod;
	--aki: #CD1B27;
}

div.melo_rep{	
	display: grid;
	background: var(--clair);
	max-width: 570px;
	margin: 40px auto;
	position: relative;
}
div.melo_rep.hima{
	--couleur: rgba(172,199,152);
	--couleur_rgb: rgba(172,199,152,15%);
	
	--couleur_1: rgba(172,199,152,5%);
	--couleur_7: rgba(172,199,152,50%);
	--couleur_3: rgba(172,199,152,20%);
}
div.melo_rep.senri{
	--couleur: rgba(230,164,129);
	--couleur_rgb: rgba(230,164,129,15%);
	
	--couleur_1: rgba(230,164,129,5%);
	--couleur_7: rgba(230,164,129,50%);
	--couleur_3: rgba(230,164,129,20%);
}
div.melo_rep.akira{
	--couleur: rgba(208,127,127);
	--couleur_rgb: rgba(208,127,127,15%);
	
	--couleur_1: rgba(208,127,127,5%);
	--couleur_7: rgba(208,127,127,50%);
	--couleur_3: rgba(208,127,127,20%);
}

div.melo_rep::-webkit-scrollbar{ width: 3px; }
div.melo_rep::-webkit-scrollbar-thumb:vertical { background: var(--couleur); }

.melo_rep credits{
	display: block;
	padding: 16px 24px 24px 24px;
	background-color: var(--bg_topics);
	text-align: center;
	content: "CODE PAR MELODY & MK";
	color: var(--gris);
	font-size: 9px;
	line-height: 24px;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

/* ------ TITLES AND TEXT STYLES ------ */
.melo_rep h1{
	font-family: var(--special-font);
	color: var(--blanc);
	font-size: 32px;
	line-height: 48px;
	font-weight: normal;
	margin: 0px;
}

.melo_rep h2{
	display: block;
	margin: 0px;
	padding: 8px 24px;
	background-color: var(--bg_topics);
	font-family: var(--special-font);
	color: var(--blanc);
	font-size: 16px;
	letter-spacing: 0.5px;
	line-height: 24px;
	font-weight: normal;
	margin: 0px;
}

.melo_rep p{
	font-size: 12px;
	line-height: 18px;
	margin: 0px;
}

.melo_rep ul{
	padding-inline-start: 0px;
    margin-block: 0px;
    list-style-type: none;
}
.melo_rep ul li{ margin: 4px 0px; }
.melo_rep ul li:before{
    content: "・";
    font-weight: bold;
    color: var(--couleur);
    margin-right: 4px;
}

.melo_rep a.link_icon{
	display: inline-block;
	color: var(--blanc);
	font-size: 9px;
	line-height: 24px;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.3s ease;
}
.melo_rep a.link_icon ion-icon { --ionicon-stroke-width: 56px; }
.melo_rep a.link_icon:hover{ color: var(--couleur); }

.melo_rep .tag{
	display: inline-block;
	color: var(--blanc);
	font-size: 9px;
	line-height: 24px;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	padding: 0px 8px;
	background-color: var(--couleur_rgb);
	transition: all 0.3s ease;
	text-decoration: none;
}
.melo_rep a.tag:hover{
	background-color: var(--couleur);
}
.melo_rep .tag_date{
	display: inline-block;
	color: var(--blanc);
	font-size: 9px;
	line-height: 20px;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	padding: 0px 8px;
	border: 1px solid var(--blanc);
}
.melo_rep .tag_date.event{
	color: var(--min);
	border: 1px solid var(--min);
}
.melo_rep .tag_date.himaki{
	color: var(--hima);
	border: 1px solid var(--hima);
}
.melo_rep .tag_date.revolution{
	color: var(--aki);
	border: 1px solid var(--aki);
}
.melo_rep d4{
	display: inline-block;
	color: var(--couleur);
	font-size: 9px;
	line-height: 16px;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	padding: 0px;
	background-color: transparent;
	box-shadow: none;
}
.melo_rep p a{ 
	color: var(--blanc); 
	text-decoration: none;
	font-size: 9px;
	line-height: 16px;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.melo_rep p a:hover{ color: var(--gris); }

.melo_rep i.disclaimer{
	display: block;
	color: var(--gris);
	font-style: normal;
	font-size: 10px;
	line-height: 15px;
	margin-bottom: 8px;
}
i.disclaimer d4{ color: var(--tx); }

.melo_rep haiku{
	color: var(--blanc); 
	font-family: 'Kiwi Maru';
	writing-mode: vertical-rl; 
	text-orientation: upright; 
	font-size: 9px; 
	text-align: left;
	line-height: 18px;
}

/* ------ BLOCKS STYLES ------ */
.bg_dark{ background-color: var(--fonce); }

/* --- HEADER --- */
div.rep_header{
	display: grid;
	justify-items: stretch;
	background-color: var(--fonce);
	padding: 24px;
	grid-row-gap: 8px;
}
div.rep_subheader{
	display: grid;
	justify-items: stretch;
	grid-template-columns: max-content auto;
	grid-column-gap: 16px;
	align-items: center;
}
div.rep_subheader.three{ grid-template-columns: max-content auto max-content!important; }
div.rep_subheader > span,
div.rep_subheader > a{
	font-size: 9px;
	font-weight: 600;
	color: var(--blanc);
	text-transform: uppercase;
	letter-spacing: 0.5px;
	text-decoration: none;
	opacity: 1;
	transition: all 0.3s ease;
}
div.rep_subheader > a:hover{ opacity: 0.5; }
div.rep_subheader > a ion-icon { --ionicon-stroke-width: 56px; }
div.rep_subheader > span.spacer{
	height: 1px;
	background-color: var(--gris);
	opacity: 0.5;
	width: 100%;
}
div.rep_subtitle{
	color: var(--blanc);
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	line-height: 24px;

	display: grid;
	grid-template-columns: repeat(3, max-content 1px);
	grid-column-gap: 16px;
	align-items: center;
}
span.spacer_vert{
	display: inline-block;
	width: 1px;
	background-color: var(--gris);
	opacity: 0.5;
	height: 100%;
}

img.rep_header_img{
	width: 100%;
}

/* --- ICON HOUSE --- */
span.rep_maison{
	width: 16px;
	height: 16px;
	text-align: center;
	display: grid;
	align-items: center;
	color: white;
	border-radius: 24px;
	padding: 16px;
	position: absolute;
	top: 130px;
	right: 24px;
	background-color: var(--couleur);
}
span.rep_maison ion-icon{
	font-size: 24px;
	position: absolute;
	left: 12px;
}


/* --- BLOCK TAGS --- */
div.rep_block_tags{
	display: grid;
	justify-items: stretch;
	grid-template-columns: repeat(5, max-content);
	padding: 24px;
	grid-column-gap: 8px;
}
div.rep_block_tags.keywords{
    display: flex!important;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 24px;
    grid-row-gap: 8px;
    grid-column-gap: 8px;
    flex-wrap: wrap;
    text-align: center;
}
div.rep_block_tags.rows{
	display: grid;
	grid-template-rows: max-content;
	padding: 24px;
	grid-row-gap: 8px;
	grid-template-columns: 1fr!important;
	grid-column-gap: 0px!important;
}
div.rep_block_tags.rows span.astro{
	text-align: center;
	justify-items: stretch;
	font-size: 9px;
	font-weight: 600;
	color: var(--blanc);
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
div.rep_block_tags div.rep_tags{
	display: grid;
	grid-template-columns: repeat(5, max-content);
	grid-column-gap: 8px;
	justify-content: center;
}

/* --- BLOCK TEXT --- */
div.rep_block_text{
	display: grid;
	justify-items: stretch;
	grid-row-gap: 8px;
	padding: 24px;
}
div.text_links{
	display: grid;
	grid-template-columns: repeat(5, max-content);
    grid-column-gap: 16px;
}
/* VARIANTE 2 COLONNES */
div.column2{
	display: grid;
	justify-items: stretch;
	grid-column-gap: 24px;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 24px;
}
div.column2 .col{
	display: grid;
	justify-items: stretch;
	grid-auto-rows: min-content;
	grid-template-rows: min-content;
	justify-content: start;
	grid-row-gap: 8px;
}
div.column2 .col img{
	width: 100%;
	background-color: var(--noir);
}
div.column2 .col p,
div.column2 .col ul{
	min-width: 248px;
	max-width: 100%;
}
/* VARIANTE ICONES */
div.icons{
	display: grid;
	justify-items: stretch;
	grid-column-gap: 24px;
}
div.icons.left{ grid-template-columns: 88px auto; }
div.icons.right{ grid-template-columns: auto 88px; }
div.icons .col{
	display: grid;
	justify-items: stretch;
	grid-auto-rows: min-content;
	grid-template-rows: min-content;
	justify-content: start;
	grid-row-gap: 8px;
}
div.icons.left .col:first-child,
div.icons.right .col:last-child{
	grid-row-gap: 24px;
}
div.icons .col img{
	width: 88px;
	background-color: var(--noir);
	filter: grayscale(100%);
	transition: all 0.3s ease;
}
div.icons .col img:hover{ filter: grayscale(0%); }

/* --- BLOCK LIENS & OBJETS --- */
div.rep_liens{
	display: grid;
	justify-items: stretch;
	grid-auto-rows: min-content;
	grid-template-rows: min-content;
	grid-row-gap: 16px;
	padding: 24px;
}
div.rep_liens div.rep_liens_item{
	display: grid;
	justify-items: stretch;
	grid-template-columns: 1fr;
	grid-auto-rows: min-content;
	grid-template-rows: min-content;
	grid-row-gap: 0px;
}
div.rep_liens div.rep_liens_item img{
	width: 100%;
	background-color: var(--noir);
}
div.rep_liens div.rep_liens_item.objet img{
	filter: grayscale(100%);
	transition: all 0.3s ease;
}
div.rep_liens div.rep_liens_item.objet img:hover{ filter: grayscale(0%); }


div.rep_liens_item div.lien_nom{
	display: grid;
	grid-template-columns: auto min-content;
	grid-column-gap: 0px;
	background-color: var(--bg_topics);
	padding: 0px;

	line-height: 24px;
	color: var(--blanc);
}
div.rep_liens_item div.lien_nom span:first-child{
	font-family: var(--special-font);
	font-size: 14px;
	display: inline-block;
	padding: 4px 8px;
}
div.rep_liens_item div.lien_nom span:nth-child(2),
div.rep_liens_item div.lien_nom a{
	display: inline-block;
	padding: 4px 12px;
	color: var(--blanc);
	font-size: 9px;
	letter-spacing: 0.5px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.3s ease;
}
div.rep_liens_item div.lien_nom span:nth-child(2){ background-color: var(--gris_rgb); }
div.rep_liens_item div.lien_nom a{ background-color: var(--couleur_rgb); }
div.rep_liens_item div.lien_nom a:hover{ background-color: var(--couleur); }

div.rep_liens_item div.lien_titre{
	padding: 4px 8px;
	line-height: 16px;
	color: var(--tx);
	font-size: 9px;
	letter-spacing: 0.5px;
	font-weight: 600;
	text-transform: uppercase;
}

div.rep_liens_item div.lien_desc{
	padding: 4px 8px;
	background-color: var(--bg_topics);
	color: var(--tx);
	line-height: 16px;
	font-size: 11px;
	height: auto;
	max-height: 100px;
	overflow-y: auto;
}

div.rep_liens_item div.lien_desc img.emojione{
	display: inline-block;
	height: 12px;
	width: auto;
	background: transparent!important;
}

/* --- BLOCK TABLE DES MATIERES --- */
div.rep_menu{
	display: grid;
	justify-items: stretch;
	grid-row-gap: 8px;
	padding: 24px;
}
.rep_menu > div.rep_menu_content{
	display: grid;
	justify-items: stretch;
	grid-row-gap: 1px;
	background-color: var(--gris_rgb);
}
/* LIENS TABLE DES MATIERES */
div.rep_menu_content > a.link_menu{
	display: grid;
	grid-template-columns: 24px max-content auto;
	grid-column-gap: 8px;
	background-color: var(--clair);
	padding: 8px;
	align-items: center;

	color: var(--tx);
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: 600;
	line-height: 16px;
	text-decoration: none;
	transition: all 0.3s ease;
}
a.link_menu span:first-child{
	font-family: var(--special-font);
	color: var(--gris);
	font-size: 14px;
	letter-spacing: 1px;
	text-align: right;
	transition: all 0.3s ease;
}
a.link_menu span.spacer{
	height: 1px;
	background-color: var(--gris);
	opacity: 0.5;
	width: 16px;
	transition: all 0.3s ease;
}
a.link_menu:hover{
	color: var(--blanc)!important;
}
a.link_menu > span{
	position: relative;
	left: 0px;
	transition: all 0.3s ease;
}
a.link_menu:hover > span{
	position: relative;
	left: 16px;
}
a.link_menu:hover span.spacer{ width: 32px; }

/* --- BLOCK AESTHETIC --- */
img.rep_aes_img, iframe.nb{
	width: 100%;
	filter: grayscale(100%);
	transition: all 0.3s ease;
}
img.rep_aes_img:hover, iframe.nb:hover{ filter: grayscale(0%); }

/* --- BLOCK CHRONO --- */
div.rep_chrono{
	display: grid;
	justify-items: stretch;
	grid-row-gap: 24px;
	padding: 24px;
}
div.chrono_item{
	display: grid;
	justify-items: stretch;
	grid-template-columns: 96px 1px auto;
	grid-column-gap: 16px;
}
div.rep_chrono_date{
	text-align: center;
	font-size: 9px;
	line-height: 24px;
	letter-spacing: 0.5px;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--blanc);
}
div.chrono_content{
	display: grid;
	grid-row-gap: 4px;
}
div.chrono_content div.chrono_tags{
	display: grid;
	grid-column-gap: 8px;
	grid-template-columns: repeat(5, max-content);
	margin-top: 8px;
}
div.chrono_content div.chrono_tags:first-child {
    margin-top: 0px!important;
}

div.chrono_content span.chrono_titre{
	font-size: 9px;
	line-height: 24px;
	letter-spacing: 0.5px;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--couleur);
}
div.chrono_content .simple{ color: var(--blanc)!important; }

div.chrono_content a.link_icon{
	color: var(--couleur);
	margin: 0px;
	opacity: 1;
	transition: all 0.3s ease
}
div.chrono_content div.chrono_item_desc{
	padding: 4px 8px;
	background-color: var(--bg_topics);
	color: var(--tx);
	line-height: 16px;
	font-size: 11px;
	height: auto;
	max-height: 64px;
	overflow-y: auto;
	margin-bottom: 8px;
}
div.chrono_content div.chrono_item_desc:last-child{ margin-bottom: 0px!important; }
div.chrono_content div.chrono_item_desc d4{
	color: var(--blanc);
}

span.chrono_sms{
	font-size: 9px;
	line-height: 24px;
	letter-spacing: 0.5px;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--blanc);
}
span.chrono_sms a.link_icon{
	margin: 0px!important;
}
div.chrono_content a.link_icon:hover{
	opacity: 0.5;
}

div.rep_spoiler{
	padding: 0px 24px 24px 24px;
}
div.rep_spoiler .spoiler>dt>.genmed{
	font-size: 9px;
	line-height: 24px;
	letter-spacing: 0.5px;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--blanc);
}
div.rep_spoiler .codebox{
	width: 100%;
}
div.rep_spoiler .codebox dd{
	background-color: var(--bg_topics);
	border-left: 0px solid;
}

div.rep_spoiler_content{
	position: relative;
	height: 380px;
}
div.rep_spoiler_content img{
	position: absolute;
	width: 100%;
	transition: all 0.3s ease;
}
div.rep_spoiler_content img.jour{ 
	opacity: 1;
	transition: all 0.3s ease;
}
div.rep_spoiler_content img.jour:hover{
	opacity: 0;
}



.notes{
	font-family: 'Rock Salt', cursive;
    font-size: 10px!important;
    line-height: 20px!important;
    background-color: transparent;
    background-size: 100% 20px;
    background-repeat: repeat-y;
    background-image: linear-gradient(to bottom, var(--gris_rgb) 1px, transparent 1px);
    background-position: 0%;
    background-position: 0px -1px;
    padding: 0px 8px 16px 8px;
}
mark{
	display: inline-block;
    background: transparent!important;
    position: relative;
    z-index: 2!important;
    color: var(--tx)!important;
}
mark:before{
	color: var(--blanc);
    margin: 0 -4px;
    padding: 1px 4px;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient( to right, var(--couleur_1), var(--couleur_7) 4%, var(--couleur_3) );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    display: inline-block;
    content: " ";
    height: 10px;
    width: 100%;
    position: absolute;
    top: 7px;
    z-index: 0!important;
    opacity: 0.7;
}

/* --- RESPONSIVE --- */
@media only screen and (max-width: 414px) {
	div.melo_rep, 
	div.rep_header,
	div.rep_block_tags,
	div.rep_block_text,
	div.rep_menu{
		width: 340px;
		max-width: 340px;

	}

	div.rep_block_tags{
		display: grid;
    	grid-auto-columns: min;
    	padding: 24px;
    	grid-column-gap: 8px;
    	grid-row-gap: 8px;
	}
	div.rep_block_tags div.rep_tags{
		grid-template-columns: 1fr;
    	grid-row-gap: 8px;
	}

	div.column2{
		grid-template-columns: 1fr;
    	grid-auto-rows: max-content;
    	grid-row-gap: 24px;
	}
}
