/* --- GENERAL ---*/
bg1, bg2{
    display:inline-block;
    margin-bottom:4px;
}
titre{
    font-size: 24px;
}
span.headline{
    display: inline-block!important;
    font-size: 12px!important;
    line-height: 18px!important;
    margin-bottom: 8px!important;
}

credit{
    font-size: 8px;
    text-transform: uppercase;
    color: var(--blanc);
    letter-spacing: 1px;
}

sstitre{
    text-align: center!important;
    font-size: 12px;
    line-height: 24px;
    padding: 4px!important;
    text-transform: lowercase;
    color: var(--co1);
}
span.sst-small{
    font-size: 10px!important;
    line-height: normal!important;
    color:  #666666!important;
}

blockquote.blckqt{
    background: var(--mid)!important;
    color: #666!important;
    padding: 8px 16px 16px 16px!important;
}

a.textmsg{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 12px 8px;
    position: absolute;
    background: var(--co2);
    padding: 8px;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 10%) 1px 1px 3px;
}
a.textmsg img{
    width: 16px;
    height: 16px;
}
a.textmsg:hover{
    background: var(--co1);
}

.toc{
    display: block;
    font-family: 'Playfair Display';
    text-transform: uppercase;
    transition-property: background;
    transition-duration: 0.5s;
    background: rgba(255,255,255,0)!important;
    padding: 4px 0px 0px 0px;
}
.toc:hover{
    background: rgba(255,255,255,0.1)!important;
}
.toc i3{
    margin-left: 4px!important;
    margin-right: 8px!important;
}
.toc:after{
    display: block;
    content: " ";
    height: 1px;
    width: 100%;
    mix-blend-mode: difference;
    background-blend-mode: difference;
    background: rgba(255,255,255,0.1)!important;
    margin: 4px 0px!important;
}
.toc:last-child:after{
    display: none;
}

moodboard fieldset{
    border: 1px solid #666666;
    padding: 8px 12px;
}
moodboard legend{
    color: #999999;
    letter-spacing: 1px;
    padding: 0px 8px;
}

haiku{
    color: var(--co1);
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'playfair display', 'ヒラギノ明朝 ProN' , 'Hiragino Mincho ProN' , '游明朝','游明朝体',YuMincho,'Yu Mincho' , 'ＭＳ 明朝' , 'MS Mincho' , HiraMinProN-W3 , 'TakaoEx明朝' , TakaoExMincho , 'MotoyaLCedar' , 'Droid Sans Japanese' , serif;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 48px;
}

.featured{
    width: 100%!important;
}


/* --- N&B FILTER ---*/
.nb{
    filter: grayscale(100%);
    opacity: 0.7;
    transition-property: filter, opacity;
    transition-duration: 0.5s;
}

.nb:hover{
    filter: grayscale(0%);
    opacity: 1;
}

/* --- HIMARI'S ROOM ---*/
.room{
    position: relative;
    display: block;
    width: 510px;
    height: 380px;
    transition-property: opacity;
    transition-duration: 0.5s;
}
.day{
    position: absolute;
    z-index: 3;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.5s;
}
.room:hover .day{ opacity: 0; }
.night{
    position: absolute;
    z-index: 2;
}

/* --- FACTS CHRONO STYLING ---*/
t8.facts1 {
    display: inline-block;
    width: 24px;
    text-align: center;
    line-height: 24px;
    border: var(--co1) solid 1px;
    border-radius: 12px;
}

t8.facts2 {
    display: inline-block;
    width: 24px;
    text-align: center;
    line-height: 24px;
    border: var(--co2) solid 1px;
    border-radius: 12px;
}

/* --- LIENS ---*/
.lien-left{
    display: inline-block;
    width: calc(50% - 8px);
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.lien-right{
    display: inline-block;
    width: calc(50% - 8px);
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

img.lien{
    text-align: center;
    width: 100%;
    border-top: 4px var(--clair) solid;
    border-bottom: 4px var(--clair) solid;
    margin-bottom: 4px;
}
.lien-desc{
    height: 100px;
    margin-top: 8px;
    padding-right: 8px;
    overflow: auto;
}


/* --- RP ---*/
.termine{
    color: white;
    border-color: white;
    background-blend-mode: difference;
    mix-blend-mode: difference;
    background-color: transparent;
}


.inventaire{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
}
.objet{
    text-align: center;
    padding: 0px 8px 8px 8px;
    border-radius: 8px;
    background: rgba(255,255,255,0.05);
}
.objet img{
    margin: auto;
    width: 80%;
    filter: grayscale(100%);
    transition-duration: 0.5s;
    transition-property: filter;
}
.objet:hover img{
    filter: grayscale(0%);
}
.objet i2{
    color: var(--blanc);
    display: inline-block;
    text-align: left;
    margin-bottom: 16px;
}
.objet .obj-desc{
    text-align: justify;
    height: 70px;
    overflow: auto;
    padding: 0px 8px 0px 0px;
}