@font-face {
  font-family: 'mk_icons';
  src:  url('https://mikrokosmos-rpg.gitlab.io/mikrokosmos/fonts/mk_iconfont.eot');
  src:  url('https://mikrokosmos-rpg.gitlab.io/mikrokosmos/fonts/mk_iconfont.eot') format('embedded-opentype'),
    url('https://mikrokosmos-rpg.gitlab.io/mikrokosmos/fonts/mk_iconfont.ttf') format('truetype'),
    url('https://mikrokosmos-rpg.gitlab.io/mikrokosmos/fonts/mk_iconfont.woff') format('woff'),
    url('https://mikrokosmos-rpg.bitbucket.io/fonts/iconfont/mk_iconfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
