@font-face {
  font-family: "saint_monicaregular";
  src: url("https://mikrokosmos-rpg.gitlab.io/mikrokosmos/fonts/saintmonica-webfont.woff2") format("woff2"),
    url("https://mikrokosmos-rpg.gitlab.io/mikrokosmos/fonts/saintmonica-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
